*.iml
.gradle
.kotlin
build/
.build/
/local.properties
.idea
.DS_Store
/build
*/build
/captures
/ui/*/build
.externalNativeBuild
.cxx
local.properties
.env


# Do not commit firebase config
google-services.json

# Do not commit plain-text release keys
app-release.jks